/* common color  */
:root {
  --primary-color: #1890ff;
  --secondary-color: rgb(14, 15, 15);
}

/* common styles*/
* {
  scroll-behavior: smooth !important;
  color: white !important;
}
body {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.main-title {
  text-align: center !important;
  color: var(--primary-color) !important;
  margin-bottom: 50px !important;
}
.main-page {
  padding-top: 80px !important;
}
/* navbar styles*/
.header {
  width: 100% !important;
  position: fixed !important;
  z-index: 1 !important;
}
.menu {
  font-size: 12px !important;
}
.ant-menu-item a:active {
  background-color: none !important;
}
.ant-menu-item-selected {
  background-color: black !important;
}
.ant-menu-item:hover {
  background-color: black !important;
  font-size: 13px !important;
}

/* about me*/
.about-me {
  margin-bottom: 30px !important;
}
.about-name {
  color: var(--primary-color) !important;
}
.about-skill {
  display: flex !important;
  color: var(--primary-color) !important;
  margin-left: 40px !important;
  margin-top: -5px !important;
}
.about-me2 {
  margin-bottom: 30px !important;
}

/* Experience*/

/* Education*/
.collapse-main {
  background-color: var(--secondary-color) !important;
  border: 0;
  margin: 0;
  padding: 0;
}
.collapse-pannel {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}
.ant-collapse-content {
  background-color: var(--secondary-color) !important;
  color: aliceblue !important;
}

/* Skills */
.skills-progress {
  align-items: center;
  justify-content: center;
}
.progress {
  margin-bottom: 60px !important;
}

/* contact us */
.contact {
  margin-top: -60px !important;
  margin-bottom: 100px !important;
}
.icon {
  font-size: 42px;
  color: var(--primary-color);
  margin-bottom: 25px !important;

  /* margin-left: 40px !important; */
}
.icon:hover {
  font-size: 44px !important;
}
.contact-text {
  margin-top: 4px !important;
  margin-bottom: 35px;
  margin-left: 13px;
  font-size: 18px !important;
}
.contact-text-last {
  margin-top: 4px;
  margin-left: 15px;
  font-size: 18px !important;
}
.contact-form {
  margin-top: 40px !important;
}
/*landing main */
.landing-main {
  position: "absolute" !important;
  top: "140px" !important;
  left: "50px" !important;
  z-index: "1" !important;
}
h1.ant-typography,
.ant-typography h1 {
  position: "absolute" !important;
  top: "100px" !important;
  left: "40px" !important;
  z-index: "1" !important;
  font-size: "80px" !important;
}

@media only screen and (max-width: 767px) {
  .about-skill {
    margin-left: 0px !important;
  }
  .about-me {
    margin-bottom: 10px !important;
  }
  iframe {
    width: fit-content;
  }
  .icon {
    font-size: 30px !important;
    margin-bottom: 25px !important;

    /* margin-left: 40px !important; */
  }
  .contact-text {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px !important;
  }
}

.ant-progress-inner,
.ant-progress-bg {
  height: 25px !important;
  border-radius: 0px !important;
  font-size: 20px !important;
}
.ant-progress-text {
  font-size: 14px !important;
}
.ant-timeline-item-head {
  width: 25px !important;
  height: 25px !important;
  margin-left: -7px;
  margin-top: -8px;
}
.ant-timeline-item-tail {
  border-left: 8px solid white;
  margin-left: -2px !important;
}
.logo {
  width: 120px;
  height: 31px;
  margin: 9px 24px 16px 10px;
  float: left;
}
/* <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
<style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style> */
